@import "https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap";

:root {
  --c-brand: #00e2ac;
  --c-brand-light: #00e2ac;

  --font-family-base: "Source Sans Pro", apple-system, BlinkMacSystemFont, Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.nav-bar-title {
  display: flex;
  align-items: center;
  flex-direction: row;
}
