:root {
  --c-brand: #00e2ac;
  --c-brand-light: #00e2ac;

  --font-family-base: "Source Sans Pro", apple-system, BlinkMacSystemFont, Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  --font-family-mono: 'JetBrains Mono', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  --code-font-size: 13px
}

.nav-bar-title {
  display: flex;
  align-items: center;
  flex-direction: row;
}
